/**********************************************************************************************************************/

ul.list {
  --list-width: 100%;
  --list-gap: max(3rem, calc(6 * var(--app-font-size-scale-min)));
}

ul.list {
  width: var(--list-width);
  height: max-content;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: var(--list-gap);

  > li.item {
    width: max-content;
    height: max-content;
  }
}

/**********************************************************************************************************************/
