/**********************************************************************************************************************/

div.component {
  // Image Unit Measurements
  --imageUnitWidth: 16px;
  --imageUnitHeight: 9px;

  // Image Unit Multiplier
  --imageUnitMultiplier: 5;

  // Unit Measurements
  --cardSpaceUnit: 1px;
  --imageWidthUnit: calc(var(--imageUnitWidth) * var(--imageUnitMultiplier));
  --imageHeightUnit: calc(var(--imageUnitHeight) * var(--imageUnitMultiplier));
  --titleFontSizeUnit: 5px;
  --titleLineHeightUnit: 6px;
  --descriptionFontSizeUnit: 4px;
  --descriptionLineHeightUnit: 5px;

  // Conversion Multipliers
  --multiplierNormal: unset; // from media query
  --multiplierHovered: unset; // from media query
  --cardOuterBorderRadiusMultiplier: 4;

  // More Stuff
  --titleMaxLines: 1;
  --descriptionMaxLines: 5;

  // Normal Measurements
  --cardSpaceNormal: calc(var(--cardSpaceUnit) * var(--multiplierNormal));
  --imageWidthNormal: calc(var(--imageWidthUnit) * var(--multiplierNormal));
  --imageHeightNormal: calc(var(--imageHeightUnit) * var(--multiplierNormal));
  --titleFontSizeNormal: calc(var(--titleFontSizeUnit) * var(--multiplierNormal));
  --titleLineHeightNormal: calc(var(--titleLineHeightUnit) * var(--multiplierNormal));
  --descriptionFontSizeNormal: calc(var(--descriptionFontSizeUnit) * var(--multiplierNormal));
  --descriptionLineHeightNormal: calc(var(--descriptionLineHeightUnit) * var(--multiplierNormal));

  --titleHeightNormal: calc(var(--titleLineHeightNormal) * var(--titleMaxLines));
  --descriptionHeightNormal: calc(var(--descriptionLineHeightNormal) * var(--descriptionMaxLines));

  --detailsGapNormal: var(--cardSpaceNormal);
  --detailsPaddingNormal: var(--cardSpaceNormal);
  --detailsHeightNormal: calc(var(--titleHeightNormal) + var(--detailsGapNormal) + var(--descriptionHeightNormal) + 2 * var(--detailsPaddingNormal));

  --contentGapNormal: var(--cardSpaceNormal);
  --contentWidthNormal: var(--imageWidthNormal);
  --contentHeightNormal: calc(var(--imageHeightNormal) + var(--contentGapNormal) + var(--detailsHeightNormal));

  --cardBorderWidthNormal: var(--cardSpaceNormal);
  --cardPaddingNormal: calc(2 * var(--cardSpaceNormal));
  --cardOuterBorderRadiusNormal: calc(var(--cardSpaceNormal) * var(--cardOuterBorderRadiusMultiplier));
  --cardInnerBorderRadiusNormal: calc(var(--cardOuterBorderRadiusNormal) - var(--cardBorderWidthNormal) - var(--cardPaddingNormal));
  --cardWidthNormal: calc(var(--contentWidthNormal) + 2 * var(--cardPaddingNormal) + 2 * var(--cardBorderWidthNormal));
  --cardHeightNormal: calc(var(--contentHeightNormal) + 2 * var(--cardPaddingNormal) + 2 * var(--cardBorderWidthNormal));

  --cardBorderColorNormal: rgb(80, 80, 80);
  --titleFontColorNormal: rgb(116, 116, 116);
  --descriptionFontColorNormal: rgb(80, 80, 80);

  // Hovered Measurements
  --cardSpaceHovered: calc(var(--cardSpaceUnit) * var(--multiplierHovered));
  --imageWidthHovered: calc(var(--imageWidthUnit) * var(--multiplierHovered));
  --imageHeightHovered: calc(var(--imageHeightUnit) * var(--multiplierHovered));
  --titleFontSizeHovered: calc(var(--titleFontSizeUnit) * var(--multiplierHovered));
  --titleLineHeightHovered: calc(var(--titleLineHeightUnit) * var(--multiplierHovered));
  --descriptionFontSizeHovered: calc(var(--descriptionFontSizeUnit) * var(--multiplierHovered));
  --descriptionLineHeightHovered: calc(var(--descriptionLineHeightUnit) * var(--multiplierHovered));

  --titleHeightHovered: calc(var(--titleLineHeightHovered) * var(--titleMaxLines));
  --descriptionHeightHovered: calc(var(--descriptionLineHeightHovered) * var(--descriptionMaxLines));

  --detailsGapHovered: var(--cardSpaceHovered);
  --detailsPaddingHovered: var(--cardSpaceHovered);
  --detailsHeightHovered: calc(var(--titleHeightHovered) + var(--detailsGapHovered) + var(--descriptionHeightHovered) + 2 * var(--detailsPaddingNormal));

  --contentGapHovered: var(--cardSpaceHovered);
  --contentWidthHovered: var(--imageWidthHovered);
  --contentHeightHovered: calc(var(--imageHeightHovered) + var(--contentGapHovered) + var(--detailsHeightHovered));

  --cardBorderWidthHovered: var(--cardSpaceHovered);
  --cardPaddingHovered: calc(2 * var(--cardSpaceHovered));
  --cardOuterBorderRadiusHovered: calc(var(--cardSpaceHovered) * var(--cardOuterBorderRadiusMultiplier));
  --cardInnerBorderRadiusHovered: calc(var(--cardOuterBorderRadiusHovered) - var(--cardBorderWidthHovered) - var(--cardPaddingHovered));
  --cardWidthHovered: calc(var(--contentWidthHovered) + 2 * var(--cardPaddingHovered) + 2 * var(--cardBorderWidthHovered));
  --cardHeightHovered: calc(var(--contentHeightHovered) + 2 * var(--cardPaddingHovered) + 2 * var(--cardBorderWidthHovered));

  --cardBorderColorHovered: rgb(192, 192, 192);
  --titleFontColorHovered: rgb(192, 192, 192);
  --descriptionFontColorHovered: rgb(136, 136, 136);

  // Component Measurements
  --componentWidth: var(--cardWidthHovered);
  --componentHeight: var(--cardHeightHovered);

  // Transiton Variables
  --transitionDuration: 150ms;
  --transitionFunction: ease-out;

  @media screen and (min-width: 0px) {
    --multiplierNormal: 2;
    --multiplierHovered: 2.1;
  }
  @media screen and (min-width: 768px) {
    --multiplierNormal: 3;
    --multiplierHovered: 3.3;
  }
  @media screen and (min-width: 1024px) {
    --multiplierNormal: 4;
    --multiplierHovered: 4.4;
  }

  > div.card {
    --cardSpace: var(--cardSpaceNormal);
    --imageWidth: var(--imageWidthNormal);
    --imageHeight: var(--imageHeightNormal);
    --titleFontSize: var(--titleFontSizeNormal);
    --titleLineHeight: var(--titleLineHeightNormal);
    --descriptionFontSize: var(--descriptionFontSizeNormal);
    --descriptionLineHeight: var(--descriptionLineHeightNormal);

    --titleHeight: var(--titleHeightNormal);
    --descriptionHeight: var(--descriptionHeightNormal);

    --detailsGap: var(--detailsGapNormal);
    --detailsPadding: var(--detailsPaddingNormal);
    --detailsHeight: var(--detailsHeightNormal);

    --contentGap: var(--contentGapNormal);
    --contentWidth: var(--contentWidthNormal);
    --contentHeight: var(--contentHeightNormal);

    --cardBorderWidth: var(--cardBorderWidthNormal);
    --cardPadding: var(--cardPaddingNormal);
    --cardOuterBorderRadius: var(--cardOuterBorderRadiusNormal);
    --cardInnerBorderRadius: var(--cardInnerBorderRadiusNormal);
    --cardWidth: var(--cardWidthNormal);
    --cardHeight: var(--cardHeightNormal);

    --cardBorderColor: var(--cardBorderColorNormal);
    --titleFontColor: var(--titleFontColorNormal);
    --descriptionFontColor: var(--descriptionFontColorNormal);

    &:hover:not(:active) {
      --cardSpace: var(--cardSpaceHovered);
      --imageWidth: var(--imageWidthHovered);
      --imageHeight: var(--imageHeightHovered);
      --titleFontSize: var(--titleFontSizeHovered);
      --titleLineHeight: var(--titleLineHeightHovered);
      --descriptionFontSize: var(--descriptionFontSizeHovered);
      --descriptionLineHeight: var(--descriptionLineHeightHovered);

      --titleHeight: var(--titleHeightHovered);
      --descriptionHeight: var(--descriptionHeightHovered);

      --detailsGap: var(--detailsGapHovered);
      --detailsPadding: var(--detailsPaddingHovered);
      --detailsHeight: var(--detailsHeightHovered);

      --contentGap: var(--contentGapHovered);
      --contentWidth: var(--contentWidthHovered);
      --contentHeight: var(--contentHeightHovered);

      --cardBorderWidth: var(--cardBorderWidthHovered);
      --cardPadding: var(--cardPaddingHovered);
      --cardOuterBorderRadius: var(--cardOuterBorderRadiusHovered);
      --cardInnerBorderRadius: var(--cardInnerBorderRadiusHovered);
      --cardWidth: var(--cardWidthHovered);
      --cardHeight: var(--cardHeightHovered);

      --cardBorderColor: var(--cardBorderColorHovered);
      --titleFontColor: var(--titleFontColorHovered);
      --descriptionFontColor: var(--descriptionFontColorHovered);
    }
  }
}

/**********************************************************************************************************************/

div.component {
  width: var(--componentWidth);
  height: var(--componentHeight);
  display: flex;
  justify-content: center;
  align-items: center;

  > div.card {
    width: var(--cardWidth);
    height: var(--cardHeight);
    border-radius: var(--cardOuterBorderRadius);
    border: var(--cardBorderWidth) solid var(--cardBorderColor);
    padding: var(--cardPadding);
    opacity: 1;
    background-color: black;
    transition:
      width var(--transitionDuration) var(--transitionFunction),
      height var(--transitionDuration) var(--transitionFunction),
      border-radius var(--transitionDuration) var(--transitionFunction),
      border-width var(--transitionDuration) var(--transitionFunction),
      border-color var(--transitionDuration) var(--transitionFunction),
      padding var(--transitionDuration) var(--transitionFunction),
      opacity var(--transitionDuration) var(--transitionFunction)
    ;

    &:hover { cursor: pointer; }
    &:active { opacity: 0.4; }

    > div.content {
      width: var(--contentWidth);
      height: var(--contentHeight);
      display: flex;
      flex-direction: column;
      gap: var(--contentGap);
      transition:
        width var(--transitionDuration) var(--transitionFunction),
        height var(--transitionDuration) var(--transitionFunction),
        gap var(--transitionDuration) var(--transitionFunction)
      ;

      > img.image {
        width: var(--imageWidth);
        height: var(--imageHeight);
        object-fit: cover;
        user-select: none;
        border-radius: var(--cardInnerBorderRadius);
        transition:
          width var(--transitionDuration) var(--transitionFunction),
          height var(--transitionDuration) var(--transitionFunction),
          border-radius var(--transitionDuration) var(--transitionFunction)
        ;
      }

      > div.details {
        width: 100%;
        height: var(--detailsHeight);
        padding: var(--detailsPadding);
        display: flex;
        flex-direction: column;
        gap: var(--detailsGap);
        transition:
          height var(--transitionDuration) var(--transitionFunction),
          padding var(--transitionDuration) var(--transitionFunction),
          gap var(--transitionDuration) var(--transitionFunction)
        ;

        > div.titleContainer {
          width: 100%;
          height: max-content;
          display: flex;

          > span.title {
            color: var(--titleFontColor);
            font-size: var(--titleFontSize);
            line-height: var(--titleLineHeight);
            font-weight: bold;
            user-select: none;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            line-clamp: var(--titleMaxLines);
            -webkit-line-clamp: var(--titleMaxLines);
            text-shadow: 0px 0px var(--titleFontSizeUnit) var(--titleFontColor);
            transition:
              color var(--transitionDuration) var(--transitionFunction),
              font-size var(--transitionDuration) var(--transitionFunction),
              line-height var(--transitionDuration) var(--transitionFunction),
              text-shadow var(--transitionDuration) var(--transitionFunction)
            ;
          }
        }

        > p.description {
            width: 100%;
            height: max-content;
            color: var(--descriptionFontColor);
            font-size: var(--descriptionFontSize);
            line-height: var(--descriptionLineHeight);
            font-weight: normal;
            user-select: none;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            line-clamp: var(--descriptionMaxLines);
            -webkit-line-clamp: var(--descriptionMaxLines);
            text-shadow: 0px 0px var(--descriptionFontSizeUnit) var(--descriptionFontColor);
            transition:
              color var(--transitionDuration) var(--transitionFunction),
              font-size var(--transitionDuration) var(--transitionFunction),
              line-height var(--transitionDuration) var(--transitionFunction),
              text-shadow var(--transitionDuration) var(--transitionFunction)
            ;
        }
      }
    }
  }
}

/**********************************************************************************************************************/
