/**********************************************************************************************************************/

div.component {
  --component-width: var(--middle-width);
  --component-height: var(--middle-height);
}

/**********************************************************************************************************************/

div.component {
  width: var(--component-width);
  height: var(--component-height);
  padding: 0 calc(1/8 * var(--component-height));
  overflow: hidden;
  overflow-x: auto;
  &::-webkit-scrollbar { display: none; }

  > nav.links {
    width: max-content;
    height: var(--component-height);
    display: flex;
    align-items: center;
    gap: calc(3/8 * var(--component-height));
  }
}

/**********************************************************************************************************************/
