/**********************************************************************************************************************/

.component {
  --component-width: 100%;
  --component-padding: 100%;

  --content-width: calc(var(--component-width) - 2 * var(--component-padding));
  --content-height: calc(var(--component-height) - 2 * var(--component-padding));

  --primary-header-font-size: calc(5 * var(--app-unit-size));
  --primary-header-font-color: rgb(192, 192, 192);

  --secondary-header-font-size: calc(3 * var(--app-unit-size));
  --secondary-header-font-color: rgb(192, 192, 192);

  --paragraph-header-font-size: calc(3 * var(--app-unit-size));
  --paragraph-font-size: calc(2 * var(--app-unit-size));
  --paragraph-font-color: rgb(144, 144, 144);
}

.component {
  width: var(--component-width);
  height: max-content;
  opacity: 0;
  transition: opacity 300ms ease-out;
  &.visible { opacity: 1; }

  > div.spacebar01 {
    width: inherit;
    height: calc(6 * var(--app-unit-size));
  }
  > div.spacebar02 {
    width: inherit;
    height: calc(6 * var(--app-unit-size));
  }
  > div.spacebar03 {
    width: inherit;
    height: calc(2 * var(--app-unit-size));
  }
  > div.spacebar04 {
    width: inherit;
    height: calc(6 * var(--app-unit-size));
  }
  > div.spacebar05 {
    width: inherit;
    height: calc(2 * var(--app-unit-size));
  }
  > div.spacebar06 {
    width: inherit;
    height: calc(6 * var(--app-unit-size));
  }
  > div.spacebar07 {
    width: inherit;
    height: calc(6 * var(--app-unit-size));
  }

  @media screen and (aspect-ratio < 1) {
    transition-delay: 100ms;
  }

  > .primaryHeaderContainer {
    width: inherit;
    height: max-content;
    padding: 0 20%;
    display: flex;
    justify-content: center;

    > .primaryHeader {
      color: var(--primary-header-font-color);
      text-align: center;
      font-size: var(--primary-header-font-size);
      line-height: 1.25;
      font-weight: bold;
      text-shadow: 0 0 calc(3/5 * var(--primary-header-font-size)) var(--primary-header-font-color);
    }
  }

  > .secondaryHeaderContainer {
    width: 100%;
    height: max-content;
    padding: 0 10%;
    display: flex;
    justify-content: flex-start;

    &.linksHeaderContainer {
      justify-content: center;
    }

    > .secondaryHeader {
      color: var(--secondary-header-font-color);
      text-align: center;
      font-size: var(--secondary-header-font-size);
      line-height: 1.25;
      font-weight: bold;
      text-shadow: 0 0 calc(3/5 * var(--secondary-header-font-size)) var(--secondary-header-font-color);
    }
  }

  > .videoContainer {
    width: 100%;
    height: max-content;
    display: flex;
    justify-content: center;

    > .videoWrapper {
      width: 80%;
      height: max-content;
      border-radius: 1rem;
      box-shadow: 0 0 1rem 0.25rem white;
      overflow: hidden;
      background-color: black;

      > video, iframe {
        width: 100%;
        aspect-ratio: 16/9;
      }
    }
  }

  > .paragraph {
    width: 100%;
    padding: 0 10%;
    color: var(--paragraph-font-color);
    font-size: var(--paragraph-font-size);
    line-height: 1.5;
    font-weight: bold;
    text-shadow: 0 0 calc(3/5 * var(--paragraph-font-size)) var(--paragraph-font-color);
  }

  > .tagsSection {
    width: 100%;
    padding: 0 10%;
  }

  > .linksContainer {
    width: 100%;
    padding: 0 10%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
}

/**********************************************************************************************************************/
