/**********************************************************************************************************************/

.component {
  --primaryHeaderFontSize: 3rem;
  --secondaryHeaderFontSize: 2.25rem;
  --primaryHeaderFontColor: rgb(192, 192, 192);
  --secondaryHeaderFontColor: rgb(192, 192, 192);
  --paragraphHeaderFontSize: 2.25rem;
  --paragraphFontSize: 1.5rem;
  --paragraphFontColor: rgb(144, 144, 144);
}

.component {
  width: 100%;
  height: max-content;
  opacity: 0;
  transition: opacity 300ms ease-out;
  &.visible { opacity: 1; }

  @media screen and (max-width: 767px) {
    transition-delay: 100ms;
  }

  > .primaryHeaderContainer {
    width: 100%;
    height: max-content;
    padding: 0 20%;
    display: flex;
    justify-content: center;

    > .primaryHeader {
      color: var(--primaryHeaderFontColor);
      text-align: center;
      font-size: var(--primaryHeaderFontSize);
      line-height: 1.25;
      font-weight: bold;
      text-shadow: 0 0 calc(3/5 * var(--primaryHeaderFontSize)) var(--primaryHeaderFontColor);
    }
  }

  > .secondaryHeaderContainer {
    width: 100%;
    height: max-content;
    padding: 0 10%;
    display: flex;
    justify-content: flex-start;

    &.linksHeaderContainer {
      justify-content: center;
    }

    > .secondaryHeader {
      color: var(--secondaryHeaderFontColor);
      text-align: center;
      font-size: var(--secondaryHeaderFontSize);
      line-height: 1.25;
      font-weight: bold;
      text-shadow: 0 0 calc(3/5 * var(--secondaryHeaderFontSize)) var(--secondaryHeaderFontColor);
    }
  }

  > .videoContainer {
    width: 100%;
    height: max-content;
    display: flex;
    justify-content: center;

    > .videoWrapper {
      width: 80%;
      height: max-content;
      border-radius: 1rem;
      box-shadow: 0 0 1rem 0.25rem white;
      overflow: hidden;
      background-color: black;

      > video, iframe {
        width: 100%;
        aspect-ratio: 16/9;
      }
    }
  }

  > .paragraph {
    width: 100%;
    padding: 0 10%;
    color: var(--paragraphFontColor);
    font-size: var(--paragraphFontSize);
    line-height: 1.5;
    font-weight: bold;
    text-shadow: 0 0 calc(3/5 * var(--paragraphFontSize)) var(--paragraphFontColor);
  }

  > .tagsSection {
    width: 100%;
    padding: 0 10%;
  }

  > .linksContainer {
    width: 100%;
    padding: 0 10%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2.5rem;
  }
}

/**********************************************************************************************************************/
