/**********************************************************************************************************************/

div.component {
  --component-width: var(--main-container-width);
  --component-height: var(--hero-height);
  --component-padding: max(1rem, calc(4 * var(--app-unit-size-linear-64-min)));
  --component-font-family: "Oleo Script", serif;

  --content-width: calc(var(--component-width) - 2 * var(--component-padding));
  --content-height: calc(var(--component-height) - 2 * var(--component-padding));

  --left-width: calc(15/25 * var(--content-width));
  --left-height: var(--content-height);

  --right-width: calc(9/25 * var(--content-width));
  --right-height: var(--content-height);

  --primary-font-color: rgb(192, 192, 192);
  --primary-font-size: max(2rem, calc(8 * var(--app-font-size-scale-min)));

  --secondary-font-color: rgb(160, 160, 160);
  --secondary-font-size: max(1rem, calc(4 * var(--app-font-size-scale-min)));

  @media screen and (aspect-ratio < 3/2) {
    --left-width: var(--content-width);
    --right-width: 0px;
  }
}

/**********************************************************************************************************************/

div.component {
  width: var(--component-width);
  height: var(--component-height);
  padding: var(--component-padding);
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  mask-image: linear-gradient(to bottom, black 80%, transparent);
  -webkit-mask-image: linear-gradient(to bottom, black 80%, transparent);

  > section.left {
    width: var(--left-width);
    height: var(--left-height);

    > div.spacebar01 {
      width: inherit;
      height: calc(2 * var(--app-unit-height-linear-64));
    }

    > div.spacebar02 {
      width: inherit;
      height: calc(6 * var(--app-unit-height-linear-64));
    }

    > div.nameRow {
      width: 100%;
      height: max-content;

      > span.name {
        color: var(--component-color);
        font-family: var(--component-font-family);
        font-size: var(--primary-font-size);
        line-height: 1.25;
        font-weight: bold;
        user-select: none;
        text-shadow: 0 0 calc(2/5 * var(--primary-font-size)) var(--primary-font-color);
      }
    }

    > p.motto, p.tip {
      width: 100%;
      height: max-content;
      color: var(--secondary-font-color);
      font-family: var(--component-font-family);
      font-size: var(--secondary-font-size);
      line-height: 1.5;
      font-weight: normal;
      user-select: none;
      color: rgb(160, 160, 160);
      text-shadow: 0 0 calc(2/5 * var(--secondary-font-size)) var(--secondary-font-color);
    }
  }

  > section.right {
    width: var(--right-width);
    height: var(--right-height);
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;

    > img.image {
      aspect-ratio: 9/14;
      max-width: calc(1 * var(--right-width));
      max-height: calc(1 * var(--right-height));
      object-fit: cover;
      border-radius: calc(4 * var(--app-unit-size-log-32-min));
      box-shadow: 0px 0px calc(3/5 * var(--component-padding)) calc(2/5 * var(--component-padding)) black;
      @media screen and (aspect-ratio < 3/2) {
        display: none;
      }
    }
  }
}