/**********************************************************************************************************************/

div.component {
  width: 100%;
  height: 100%;
  position: relative;

  --componentWidth: 100dvw; // from code
  --componentHeight: 100dvh; // from code
  --headerHeight: unset; // from code
  --mainHeight: calc(var(--componentHeight) - var(--headerHeight));
  --transitionDuration: unset; // from code
  --transitionFunction: unset;

  > div.layer {
    width: 100%;
    height: 100%;
    position: absolute;

    &.background {
      z-index: 0;
      background-color: black;
    }

    &.content {
      z-index: 1;
      display: flex;
      flex-direction: column;

      > header.header {
        --headerWidth: 100%;
        
        width: 100%;
        height: var(--headerHeight);
        background: linear-gradient(rgb(24, 24, 24), black);
        display: flex;

        --leftContainerSize: var(--headerHeight);
        --rightContainerSize: var(--headerHeight);
        --middleContainerWidth: calc(var(--headerWidth) - var(--leftContainerSize) - var(--rightContainerSize));
        --middleContainerHeight: var(--headerHeight);

        > div.leftContainer {
          width: var(--leftContainerSize);
          height: var(--leftContainerSize);
          display: flex;
          justify-content: center;
          align-items: center;

          > img.image {
            --imageSize: calc(25/50 * var(--leftContainerSize));
            
            width: var(--imageSize);
            height: var(--imageSize);
            object-fit: contain;
            user-select: none;
            transition: transform var(--transitionDuration) var(--transitionFunction);

            &:hover { cursor: pointer; }
            &.closed { transform: rotate(0deg); &:hover { transform: rotate(-15deg); } }
            &.open { transform: rotate(-135deg); &:hover { transform: rotate(-120deg); } }
          }
        }

        > div.middleContainer {
          width: var(--middleContainerWidth);
          height: var(--middleContainerHeight);
          padding: 0 0.5rem;
          overflow: hidden;
          overflow-x: auto;

          &::-webkit-scrollbar { display: none; }

          > nav.links {
            width: max-content;
            height: var(--middleContainerHeight);
            display: flex;
            align-items: center;
            gap: 1.5rem;

            > a.link {
              width: max-content;
              height: max-content;
              font-size: calc(2/5 * var(--middleContainerHeight));
              line-height: 1;
              font-weight: bold;
              white-space: nowrap;
              user-select: none;
              opacity: 0.7;

              &:hover { cursor: pointer; opacity: 1; }
              &:active { opacity: 0.4; }
              &.active { cursor: default; opacity: 0.4; }
            }
          }
        }

        > .rightContainer {
          width: var(--rightContainerSize);
          height: var(--rightContainerSize);
        }
      }

      > main.main {
        width: 100%;
        height: var(--mainHeight);
        position: relative;

        --sidebarWidth: 420px;
        @media (max-width: 800px) {
          --sidebarWidth: var(--componentWidth);
        }

        > .layer {
          width: var(--componentWidth);
          height: var(--mainHeight);
          position: absolute;

          &.overlay {
            transition: z-index var(--transitionDuration) var(--transitionFunction);

            &.front { z-index: 999; > .background { opacity: 0.92; } }

            &.back { z-index: -1; > .background { opacity: 0; } }

            > .layer {
              width: 100%;
              height: var(--mainHeight);
              position: absolute;

              &.background {
                background-color: black;
                transition: opacity var(--transitionDuration) var(--transitionFunction);
              }

              &.content {

                > aside.sidebar {
                  --sidebarHeight: var(--mainHeight);
                  --sidebarLeftPositionOpen: 0px;
                  --sidebarLeftPositionClosed: calc(-1 * var(--sidebarWidth));
                  --sidebarPadding: 1rem;

                  position: absolute;
                  z-index: 1;
                  width: var(--sidebarWidth);
                  height: var(--sidebarHeight);
                  left: var(--sidebarLeftPosition);
                  transition:
                    left var(--transitionDuration) var(--transitionFunction),
                    width var(--transitionDuration) var(--transitionFunction);
                  padding: var(--sidebarPadding);

                  &.open {
                    --sidebarLeftPosition: var(--sidebarLeftPositionOpen);
                  }

                  &.closed {
                    --sidebarLeftPosition: var(--sidebarLeftPositionClosed);
                  }

                  > .inner {
                    --sidebarInnerWidth: calc(var(--sidebarWidth) - 2 * var(--sidebarPadding));
                    --sidebarInnerHeight: calc(var(--sidebarHeight) - 2 * var(--sidebarPadding));
                    --sidebarBorderWidth: 3px;
                    --sidebarBorderColor: gray;
                    --sidebarBorderRadius: 0.5rem;

                    width: var(--sidebarInnerWidth);
                    height: var(--sidebarInnerHeight);
                    border: var(--sidebarBorderWidth) solid var(--sidebarBorderColor);
                    border-radius: var(--sidebarBorderRadius);
                    background: linear-gradient(135deg, rgb(8, 8, 8), rgb(24, 24, 24));
                    padding: 0.5rem;
                    overflow: hidden;
                    overflow-y: auto;

                    &::-webkit-scrollbar { display: none; }
                  }
                }
              }
            }
          }

          &.content {
            --contentHeight: var(--mainHeight);
            // --contentWidthOpen: calc(var(--componentWidth) - var(--sidebarWidth));
            --contentWidthOpen: var(--componentWidth);
            --contentWidthClosed: var(--componentWidth);
            // --contentMarginLeftOpen: var(--sidebarWidth);
            --contentMarginLeftOpen: 0px;
            --contentMarginLeftClosed: 0px;

            position: relative;
            z-index: 0;
            width: var(--contentWidth);
            height: var(--contentHeight);
            margin-left: var(--contentMarginLeft);
            transition:
              width var(--transitionDuration) var(--transitionFunction),
              margin-left var(--transitionDuration) var(--transitionFunction);

            overflow-x: hidden;
            overflow-y: auto;

            &::-webkit-scrollbar { background: transparent; }
            &::-webkit-scrollbar-track { background-color: black; }
            &::-webkit-scrollbar-thumb { background: linear-gradient(black, rgb(72, 72, 72), black); }
            &::-webkit-scrollbar-thumb:hover { cursor: grab; }
            &::-webkit-scrollbar-thumb:active { cursor: grabbing; }

            &.open {
              --contentWidth: var(--contentWidthOpen);
              --contentMarginLeft: var(--contentMarginLeftOpen);
            }

            &.closed {
              --contentWidth: var(--contentWidthClosed);
              --contentMarginLeft: var(--contentMarginLeftClosed);
            }
          }
        }
      }
    }
  }
}

/**********************************************************************************************************************/
