/**********************************************************************************************************************/

div.component {
  width: 100%;
  height: max-content;
  padding: 0 calc(2 * var(--app-unit-width-linear-64));
  overflow: hidden;
  overflow-x: auto;

  &::-webkit-scrollbar { display: none; }

  > ul.list {
    width: max-content;
    height: max-content;
    display: flex;

    > li.item {
      width: max-content;
      height: max-content;
    }
  }
}

/**********************************************************************************************************************/
