/**********************************************************************************************************************/

.wrapper {
  --component-width: var(--provided-width);

  --hero-height: calc(var(--provided-height) - var(--header-height));
}

.wrapper {
  width: var(--component-width);
  height: max-content;
	opacity: 0;
	transition: opacity 300ms ease-out;
	&.visible { opacity: 1; }

  > .headerSpace {
    width: inherit;
    height: var(--header-height);
  }

  > .space {
    width: inherit;
    height: calc(2 * var(--app-unit-height-linear-64));
  }

  > .hero {
    width: inherit;
    height: var(--hero-height);
    position: relative;

    > .layer {
      width: inherit;
      height: inherit;
      position: absolute;

      &.background {
        z-index: 0;

        > video {
          width: inherit;
          height: inherit;
          object-fit: cover;
          opacity: 0.4;
          filter: blur(2.5rem);
        }
      }

      &.content {
        z-index: 1;

        > * {
          --provided-width: var(--component-width);
        }
      }
    }
  }

  > .section {
    width: inherit;
    height: max-content;

    > * {
      --provided-width: var(--component-width);
    }
  }
}

/**********************************************************************************************************************/
