/**********************************************************************************************************************/

:root {
	--scale-line-height: 5/4;
	--h6-line-height: calc(var(--scale-line-height) * 1.5rem);
	--h5-line-height: calc(var(--scale-line-height) * var(--h6-line-height));
	--h4-line-height: calc(var(--scale-line-height) * var(--h5-line-height));
	--h3-line-height: calc(var(--scale-line-height) * var(--h4-line-height));
	--h2-line-height: calc(var(--scale-line-height) * var(--h3-line-height));
	--h1-line-height: calc(var(--scale-line-height) * var(--h2-line-height));

	--scale-font-size: 4/5;
	--h6-font-size: calc(var(--scale-font-size) * var(--h6-line-height));
	--h5-font-size: calc(var(--scale-font-size) * var(--h5-line-height));
	--h4-font-size: calc(var(--scale-font-size) * var(--h4-line-height));
	--h3-font-size: calc(var(--scale-font-size) * var(--h3-line-height));
	--h2-font-size: calc(var(--scale-font-size) * var(--h2-line-height));
	--h1-font-size: calc(var(--scale-font-size) * var(--h1-line-height));
}

h1 { line-height: var(--h1-line-height); font-size: var(--h1-font-size) }
h2 { line-height: var(--h2-line-height); font-size: var(--h2-font-size) }
h3 { line-height: var(--h3-line-height); font-size: var(--h3-font-size) }
h4 { line-height: var(--h4-line-height); font-size: var(--h4-font-size) }
h5 { line-height: var(--h5-line-height); font-size: var(--h5-font-size) }
h6 { line-height: var(--h6-line-height); font-size: var(--h6-font-size) }

/**********************************************************************************************************************/
