/**********************************************************************************************************************/

.component {
  --fontSizeKey: unset;

  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  font-family: "Oleo Script", serif;
  padding: 5dvw;
  overflow: hidden;
}

.grid {
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-columns: repeat(25, 1fr);
  grid-template-rows: repeat(24, 1fr);
  position: relative;
}

.introduction {
  grid-column: 1 / 13;
  grid-row:  2/ 24;
  display: flex;
  flex-direction: column;
  gap: calc(var(--fontSizeKey) * 1.5rem);
  @media (max-width: 1000px) {
    grid-column: 1/26;
  }
}

.titleRow {
  width: 100%;
  height: max-content;
  display: flex;

  .title {
    --fontSize: min(18dvw, calc(var(--fontSizeKey) * 5rem));
    font-size: var(--fontSize);
    line-height: 1;
    font-weight: bold;
    user-select: none;

    text-shadow: 0 0 calc(2/5 * var(--fontSize)) white;
  }
}

.description, .tip {
  --fontSize:  min(8dvw, calc(var(--fontSizeKey) * 2rem));
  font-size: var(--fontSize);
  line-height: 1.5;
  user-select: none;
  color: rgb(160, 160, 160);
  text-shadow: 0 0 calc(2/5 * var(--fontSize)) gray;
}

.imageContainer {
  grid-column: 14 / 26;
  grid-row: 1 / 25;
  display: flex;
  justify-content: flex-end;
  @media (max-width: 1000px) {
    display: none;
  }
}

.image {
  width: 100%;
  max-width: 500px;
  height: 100%;
  object-fit: cover;
  border-radius: calc(var(--fontSizeKey) * 2rem);
  box-shadow: 0px 0px calc(var(--fontSizeKey) * 4rem) calc(var(--fontSizeKey) * 2rem) black;
}

/**********************************************************************************************************************/
