/**********************************************************************************************************************/

nav.list {
  --component-width: var(--sidebar-content-width);

  --font-size: calc(0.1 * var(--component-width));
  --padding: calc(0.5 * var(--font-size));
}

/**********************************************************************************************************************/

nav.list {
  width: var(--component-width);
  height: max-content;
  position: relative;
  display: flex;
  flex-direction: column;

  > a.item {
    width: inherit;
    height: max-content;
    padding: var(--padding);
    display: flex;
    justify-content: center;
    opacity: 0.7;

    &:hover {
      cursor: pointer;
      opacity: 1;
    }

    &:active {
      opacity: 0.4;
    }

    > .label {
      font-size: var(--font-size);
      line-height: 1.25;
      font-weight: bold;
      text-align: center;
      user-select: none;
    }
  }
}

/**********************************************************************************************************************/
