/**********************************************************************************************************************/

.projectModalWidget {
  --project-modal-widget-width: var(--provided-width);
  --project-modal-widget-height: var(--provided-height);

  --project-modal-widget-border-color: rgb(192, 192, 192);
  --project-modal-widget-border-width: var(--app-unit-size-log-32-min);
  --project-modal-widget-border-radius: calc(3 * var(--app-unit-size-log-32-min));

  --content-width: calc(var(--project-modal-widget-width) - 2 * var(--project-modal-widget-border-width));
  --content-height: calc(var(--project-modal-widget-height) - 2 * var(--project-modal-widget-border-width));

	@media screen and (aspect-ratio < 1) {
		--project-modal-widget-border-radius: 0px;
	}
  
	@media screen and (aspect-ratio > 5/2) {
		--project-modal-widget-border-radius: 0px;
	}
}

.projectModalWidget {
  width: var(--project-modal-widget-width);
  height: var(--project-modal-widget-height);
  border: var(--project-modal-widget-border-width) solid var(--project-modal-widget-border-color);
  border-radius: var(--project-modal-widget-border-radius);
  background-color: black;
	overflow: hidden;
	overflow-y: auto;
	&::-webkit-scrollbar { display: none; }

	> * {
		--provided-width: var(--content-width);
		--provided-height: var(--content-height);
	}
}

/**********************************************************************************************************************/

.projectModalWidget {--primary-color: black; --secondary-color: rgba(64, 64, 64, 0.1); background: linear-gradient(135deg, var(--primary-color), 
	var(--secondary-color), var(--primary-color), var(--secondary-color), var(--primary-color), var(--secondary-color), var(--primary-color), var(--secondary-color), var(--primary-color), 
	var(--secondary-color), var(--primary-color), var(--secondary-color), var(--primary-color), var(--secondary-color), var(--primary-color), var(--secondary-color), var(--primary-color), 
	var(--secondary-color), var(--primary-color), var(--secondary-color), var(--primary-color), var(--secondary-color), var(--primary-color), var(--secondary-color), var(--primary-color), 
	var(--secondary-color), var(--primary-color), var(--secondary-color), var(--primary-color), var(--secondary-color), var(--primary-color), var(--secondary-color), var(--primary-color), 
	var(--secondary-color), var(--primary-color), var(--secondary-color), var(--primary-color), var(--secondary-color), var(--primary-color), var(--secondary-color), var(--primary-color), 
	var(--secondary-color), var(--primary-color), var(--secondary-color), var(--primary-color), var(--secondary-color), var(--primary-color), var(--secondary-color), var(--primary-color), 
	var(--secondary-color), var(--primary-color), var(--secondary-color), var(--primary-color), var(--secondary-color), var(--primary-color), var(--secondary-color), var(--primary-color), 
	var(--secondary-color), var(--primary-color), var(--secondary-color), var(--primary-color), var(--secondary-color), var(--primary-color), var(--secondary-color), var(--primary-color), 
	var(--secondary-color), var(--primary-color), var(--secondary-color), var(--primary-color), var(--secondary-color), var(--primary-color), var(--secondary-color), var(--primary-color), 
	var(--secondary-color), var(--primary-color), var(--secondary-color), var(--primary-color), var(--secondary-color), var(--primary-color), var(--secondary-color), var(--primary-color), 
	var(--secondary-color), var(--primary-color), var(--secondary-color), var(--primary-color), var(--secondary-color), var(--primary-color), var(--secondary-color), var(--primary-color), 
	var(--secondary-color), var(--primary-color), var(--secondary-color), var(--primary-color), var(--secondary-color), var(--primary-color), var(--secondary-color), var(--primary-color), 
	var(--secondary-color), var(--primary-color), var(--secondary-color), var(--primary-color), var(--secondary-color), var(--primary-color), var(--secondary-color), var(--primary-color), 
	var(--secondary-color), var(--primary-color), var(--secondary-color), var(--primary-color), var(--secondary-color), var(--primary-color), var(--secondary-color), var(--primary-color), 
	var(--secondary-color), var(--primary-color), var(--secondary-color), var(--primary-color), var(--secondary-color), var(--primary-color), var(--secondary-color), var(--primary-color), 
	var(--secondary-color), var(--primary-color), var(--secondary-color), var(--primary-color), var(--secondary-color), var(--primary-color), var(--secondary-color), var(--primary-color));
}

/**********************************************************************************************************************/
