/**********************************************************************************************************************/

.component {
  --component-width: unset;
  --component-height: unset;
}

/**********************************************************************************************************************/

.component {
  width: var(--component-width);
  height: var(--component-height);
}

/**********************************************************************************************************************/
