/**********************************************************************************************************************/

.component {
  --component-width: var(--main-container-width);
  --component-height: var(--main-container-height);

  --hero-height: calc(var(--main-container-height) - var(--header-height));
}

.component {
  width: var(--component-width);
  height: var(--main-container-height);
	opacity: 0;
	transition: opacity 300ms ease-out;
	&.visible { opacity: 1; }

  > .space {
    width: inherit;
    height: calc(2 * var(--app-unit-size));
  }

  > .hero {
    width: inherit;
    height: var(--hero-height);
    position: relative;

    > .layer {
      width: inherit;
      height: inherit;
      position: absolute;

      &.background {
        z-index: 0;

        > video {
          width: inherit;
          height: inherit;
          object-fit: cover;
          opacity: 0.4;
          filter: blur(2.5rem);
        }
      }

      &.content {
        z-index: 1;
      }
    }
  }

  > .section {
    width: inherit;
    height: max-content;
  }
}

/**********************************************************************************************************************/
