/**********************************************************************************************************************/

div.tag {
  --tag-height: calc(3 * var(--app-unit-size));
  --tag-gap: calc(1 * var(--app-unit-size));

  > div.iconContainer {
    --icon-size: var(--tag-height);
  }
}

/**********************************************************************************************************************/

div.tag {
  width: max-content;
  height: var(--tag-height);
  display: flex;
  gap: var(--tag-gap);

  > div.iconContainer {
    width: var(--icon-size);
    height: var(--icon-size);
    overflow: hidden;

    > img.icon {
      width: 100%;
      height: 100%;
      object-fit: contain;
      user-select: none;
    }
  }

  > div.textContainer {
      width: max-content;
      height: var(--tag-height);
      display: flex;
      align-items: center;

    > span.text {
      color: rgb(144, 144, 144);
      font-size: calc(7/10 * var(--tag-height));
      line-height: 1;
      font-weight: bold;
      user-select: none;
    }
  }
}

/**********************************************************************************************************************/
