/**********************************************************************************************************************/

nav.list {
  --font-size: calc(1.5 * var(--app-unit-height));
  --padding: calc(0.75 * var(--app-unit-height));
}

/**********************************************************************************************************************/

nav.list {
  width: 100%;
  height: max-content;
  position: relative;
  display: flex;
  flex-direction: column;

  > a.item {
    width: 100%;
    height: max-content;
    padding: var(--padding);
    display: flex;
    justify-content: center;
    opacity: 0.7;

    &:hover {
      cursor: pointer;
      opacity: 1;
    }

    &:active {
      opacity: 0.4;
    }

    > .label {
      font-size: var(--font-size);
      line-height: 1;
      font-weight: bold;
      white-space: nowrap;
      user-select: none;
    }
  }
}

/**********************************************************************************************************************/
