/**********************************************************************************************************************/

ul.list {
  --listGap: 3rem;
}

ul.list {
  width: 100%;
  height: max-content;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 3rem;

  > li.item {
    width: max-content;
    height: max-content;
  }
}

/**********************************************************************************************************************/
