/**********************************************************************************************************************/

.component {--primary-color: black; --secondary-color: rgba(64, 64, 64, 0.1); background: linear-gradient(135deg, var(--primary-color), 
	var(--secondary-color), var(--primary-color), var(--secondary-color), var(--primary-color), var(--secondary-color), var(--primary-color), var(--secondary-color), var(--primary-color), 
	var(--secondary-color), var(--primary-color), var(--secondary-color), var(--primary-color), var(--secondary-color), var(--primary-color), var(--secondary-color), var(--primary-color), 
	var(--secondary-color), var(--primary-color), var(--secondary-color), var(--primary-color), var(--secondary-color), var(--primary-color), var(--secondary-color), var(--primary-color), 
	var(--secondary-color), var(--primary-color), var(--secondary-color), var(--primary-color), var(--secondary-color), var(--primary-color), var(--secondary-color), var(--primary-color), 
	var(--secondary-color), var(--primary-color), var(--secondary-color), var(--primary-color), var(--secondary-color), var(--primary-color), var(--secondary-color), var(--primary-color), 
	var(--secondary-color), var(--primary-color), var(--secondary-color), var(--primary-color), var(--secondary-color), var(--primary-color), var(--secondary-color), var(--primary-color), 
	var(--secondary-color), var(--primary-color), var(--secondary-color), var(--primary-color), var(--secondary-color), var(--primary-color), var(--secondary-color), var(--primary-color), 
	var(--secondary-color), var(--primary-color), var(--secondary-color), var(--primary-color), var(--secondary-color), var(--primary-color), var(--secondary-color), var(--primary-color), 
	var(--secondary-color), var(--primary-color), var(--secondary-color), var(--primary-color), var(--secondary-color), var(--primary-color), var(--secondary-color), var(--primary-color), 
	var(--secondary-color), var(--primary-color), var(--secondary-color), var(--primary-color), var(--secondary-color), var(--primary-color), var(--secondary-color), var(--primary-color), 
	var(--secondary-color), var(--primary-color), var(--secondary-color), var(--primary-color), var(--secondary-color), var(--primary-color), var(--secondary-color), var(--primary-color), 
	var(--secondary-color), var(--primary-color), var(--secondary-color), var(--primary-color), var(--secondary-color), var(--primary-color), var(--secondary-color), var(--primary-color), 
	var(--secondary-color), var(--primary-color), var(--secondary-color), var(--primary-color), var(--secondary-color), var(--primary-color), var(--secondary-color), var(--primary-color), 
	var(--secondary-color), var(--primary-color), var(--secondary-color), var(--primary-color), var(--secondary-color), var(--primary-color), var(--secondary-color), var(--primary-color), 
	var(--secondary-color), var(--primary-color), var(--secondary-color), var(--primary-color), var(--secondary-color), var(--primary-color), var(--secondary-color), var(--primary-color), 
	var(--secondary-color), var(--primary-color), var(--secondary-color), var(--primary-color), var(--secondary-color), var(--primary-color), var(--secondary-color), var(--primary-color));
}

.component {
  --component-width: var(--container-width);
  --component-height: var(--container-height);
  --component-border-color: rgb(192, 192, 192);
  --component-border-width: var(--app-unit-border-width);
  --component-border-radius: calc(3 * var(--app-unit-border-width));

  --content-width: calc(var(--component-width) - 2 * var(--component-border-width));
  --content-height: calc(var(--component-height) - 2 * var(--component-border-width));

	@media screen and (aspect-ratio < 1) {
		--component-border-radius: 0px;
	}
	@media screen and (aspect-ratio > 2) {
		--component-border-radius: 0px;
	}

	> * {
		--modal-content-width: var(--content-width);
		--modal-content-height: var(--content-height);
	}
}

.component {
  width: var(--component-width);
  height: var(--component-height);
  border: var(--component-border-width) solid var(--component-border-color);
  border-radius: var(--component-border-radius);
  background-color: black;
	overflow: hidden;
	overflow-y: auto;
	&::-webkit-scrollbar { display: none; }
}

/**********************************************************************************************************************/
